<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/home">
            <i class="fas fa-building me-2"></i>
            User Management System
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item" *ngIf="account">
                    <a class="nav-link" routerLink="/account">
                        <i class="fas fa-user me-2"></i>
                        {{account.firstName}} {{account.lastName}}
                    </a>
                </li>
                <li class="nav-item" *ngIf="account">
                    <a class="nav-link" (click)="logout()" style="cursor: pointer;">
                        <i class="fas fa-sign-out-alt me-2"></i>
                        Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="app-container">
    <!-- global alert -->
    <alert></alert>

    <!-- main router outlet -->
    <router-outlet></router-outlet>
</div>